/* Theme colors from: https://coolors.co/6482a8-000000-a1b5d8-fffcf7-d7d6d6,
Z Pattern from Professor Kostin,
index styling from Cassidy and Aliye's Midterm
*/

/* layout ***************************************************/
main, .wrapper { /* "main" in some of the bootstrap'd pages, "".wrapper" in others */
  max-width: 960px;
  min-width: 800px;
  margin: auto;
  display: grid;
  padding: 30px;
}

header h1{
  max-width: 960px;
  margin: auto;
  padding-top: 30px;

}

header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

header h1 {
  grid-column: 1/2;
  margin-left: 20px;
}

header nav {
  grid-column: 2/3;
  padding-right: 30px;
  padding-top: 20px;
}



/* styles ***************************************************/
a {
  color: #fffcf7;
  text-decoration: none;
}

main a, .wrapper a {
  color: #a1b5d8;
}

body {
  background-color: #6482a8;
}

main, .wrapper { /* "main" in some of the bootstrap'd pages, "".wrapper" in others */
  background-color: #fffcf7;
  line-height: 30px;
}

header {
  background-color: #a1b5d8;
  color: #000000;
}

nav a {
  font-size: 20px;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.wrapper p a {
  color: #000000;
}

table {
  margin-bottom: 20px;
}

h1, h2 {
	font-family: 'Montserrat', sans-serif;
}

div, p {
  font-family: 'Lora', serif;
}

li a {
  font-family: 'Lora', serif;
}


/* state ***************************************************/
a:hover {
  color: #a1b5d8; /*UPDATE*/
}



header a:hover {
  color: #fffcf7;
}

.is-current {
  color: grey;
}
