/* Theme colors from: https://coolors.co/6482a8-000000-a1b5d8-fffcf7-d7d6d6,
 Z Pattern from Professor Kostin, index styling from Cassidy and Aliye's Midterm*/


/**** layout **************************Z Pattern from Professor Kostin*/
.persistent {
	position: fixed;
	left: 0;
	width: 100%;
	margin-left:0px;
	margin-right:0px;
}
header.persistent {
	top: 0;
	background-color: #6482a8;
}

footer.persistent {
	bottom: 0;
	background-color: #6482a8;
}

header .container, footer .container {
	display: flex;
	justify-content: space-between;
}

main {
	display: flex;
}


/* styles ***************************************************/
body {
background-image: url("../img/london-skyline.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-color: #6482a8;
}

main {
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	text-align: center;
}

/* STYLING 4 QUADRANTS*/
.lead, .strong-follow, .weak-follow, .terminal {
	margin: 0px;
	padding:20px;
	background-color: #6482a8;
}

.lead, .weak-follow {
	margin-left: 0;
}

.strong-follow, .terminal {
	margin-right: 0;
}

.strong-follow, .weak-follow {
		align-content: center;
		font-size: 16pt;
}

.lead {
	font-size: 32pt;
}


.strong-follow {
	padding-top: 30px;
}

.strong-follow p {
	font-size: 10pt;
	margin-top: 5px;
	margin-left: 35px;
}


.terminal {
	font-size: 22pt;
	font-weight: bolder;
	font-style: italic;
	padding-top: 30px;
	text-shadow: 1px 1px rgba(162, 205, 204, 0.67);
}

.weak-follow a {
	color: #546d8a; /* intentially close to the background, hidden from view */
}

a {
  color: #fffcf7;
	text-decoration: none;
}

.strong-follow .terminal {
	text-decoration: none;
  color: #fffcf7;
}

.hero {
	background-color: #a1b5d8;
	opacity: .72;
	padding: 20px;
	border-radius: 8px;
}

li {
	list-style-type: none;
}


/* state ***************************************************/
a:hover {
  color: #a1b5d8;
}

.hero a:hover {
	color: #6482a8;
}

.weak-follow a:hover { /* also intentional -- hover doesn't change a lot */
	color: #5a7594;
}


.is-current a{
	color: #d7d6d6;
}
