/* Theme colors from: https://coolors.co/6482a8-000000-a1b5d8-fffcf7-d7d6d6,
Z Pattern from Professor Kostin,
index styling from Cassidy and Aliye's Midterm
*/

/* layout ***************************************************/
.container {
max-width: 1024px;
margin: auto;
}

main {
  display: grid;
  grid-template-columns: 160px 1fr 220px;
  padding-top: 20px;
}

header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;

}

header h1 {
  grid-column: 1/2;
  margin-left: 20px;
}

header nav {
  grid-column: 2/3;
}



footer {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
}

/* styles ***************************************************/
body {
  background-color: #6482a8;
}

.container {
  background-color: #fffcf7;
}

a {
  color: #fffcf7;
}

/* state ***************************************************/
a:hover {
  color: #EFCB3D; /*UPDATE*/
}

.is-current {

}
